.paymentBody {
  background-color: #0000008c;
  width: 1000px;
  height: 500px;
  color: #fafafa;
  border-radius: 1.95rem;
  margin: auto;
  font-family: "Arial";
  -webkit-transform: translate(0%, 20%);
  display: block;
  }  

.leagueLogo{
    width: 1100px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/LeagueLogo.png');
  }
  
  .steamLogo{
    width: 1100px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/steamgameslogo.png');
  }
  
  .tibiaLogo{
    width: 1100px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/tibialogo.png');
  }

  .netflixLogo{
    width: 1100px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/netflixlogo1.png');
  }

  .bgr-netflix0 {
    /* The image used */
    background-image: url("Images/netflix-background.jpg");
    overflow-x: hidden;
    /* Full height */
    height:stretch;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgr-tibia0 {
    /* The image used */
    background-image: url("Images/tibialanding.png");
    overflow-x: hidden;
    /* Full height */
    height:stretch;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgr-pubg0 {
    /* The image used */
    background-image: url("Images/pubgpayment.png");
    overflow-x: hidden;
    /* Full height */
    height:stretch;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bgr-fortnite0 {
    /* The image used */
    background-image: url("Images/fortnitebgfanart.png");
    overflow-x: hidden;
    /* Full height */
    height:stretch;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bgr-steam0 {
    /* The image used */
    background-image: url("Images/steampayment.jpg");
    overflow-x: hidden;
    /* Full height */
    height:stretch;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bgr-crossfire0 {
    /* The image used */
    background-image: url("Images/crossfirepayment.png");
    overflow-x: hidden;
    /* Full height */
    height:stretch;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bgr-league0 {
    /* The image used */
    background-image: url("Images/leaguer1.png");
    overflow-x: hidden;
    /* Full height */
    height:stretch;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fortniteLogo{
    width: 1100px;
    height: 300px;
    border-radius: 1.95rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/fortlogo.png');
  }
  
  .crossfireLogo{
    width: 1100px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/crossfirelogopayment.png');
  }
  
  .pubgLogo{
    border-radius: 1.95rem;
    width: 1100px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/pubgLogo2.png');
  }
  
.GameDesc  {
    -webkit-transform: translate(35%, 0%);
    text-align: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 1.95rem;
    width: 650px;
    height: 250px;
}

.pubg {
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-image: url('Images/pubg.jpg');
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    font-weight: bold;
    border-radius: 1.85rem;
    width: 350px;
    height: 160px;
    margin-bottom: 10px;
  }
  
  .fortnite {
    border-radius: 1.95rem;
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-image: url('Images/fortnite.jpg');
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    width: 350px;
    height: 160px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .tibia{
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-image: url('');
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 1.95rem;
    width: 350px;
    height: 160px;
    background-image: url('Images/tibiaoffers.png');
    margin-bottom: 10px;
  }

  .netflix{
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-image: url('');
    background-color: rgb(253, 0, 0); /* Fallback color */
    background-color: rgba(255, 0, 0, 0.192); /* Black w/opacity/see-through */
    border-radius: 1.95rem;
    width: 350px;
    height: 160px;
    background-image: url('Images/netflixlogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-bottom: 10px;
  }

  .steamgames{
    transition: background-size 0.6s ease;
    background-size: 100%;
    cursor: pointer;
    background-image: url('');
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 1.95rem;
    width: 350px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('Images/steamgames.png');
    margin-bottom: 10px;
  }
  
  .crossfire {
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-image: url('Images/crossfire.jpg');
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 1.95rem;
    width: 350px;
    height: 160px;
    margin-bottom: 10px;
  }
  
  .league {
    border-radius: 1.95rem;
    transition: background-size 0.6s ease;
    background-size: 100%;
    cursor: pointer;
    background-image: url('Images/leagueoffers.png');
    width: 350px;
    height: 160px;
    overflow:hidden;
    margin-bottom: 10px;
  }
  
  .Games {
    transition: background-size 0.6s ease;
    background-size: 100%;
    cursor: pointer;
    background-image: url('Images/gameslogo.png');
    width: 740px;
    height: 230px;
    overflow:hidden;
    margin: 0 auto;
  }

  .Tshirts {
    transition: background-size 0.6s ease;
    background-size: 100%;
    cursor: pointer;
    background-image: url('Images/tshirts.png');
    width: 740px;
    height: 230px;
    overflow:hidden;
    margin: 0 auto;
  }

  .league:hover {
    box-shadow:0 0 25px rgb(252, 252, 252);
    background-image: url('Images/league.png');
    transition: all 1s;
    -webkit-transition: all 1s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  } 
  
  .fortnite:hover {
    box-shadow:0 0 25px rgb(252, 252, 252);
    background-image: url('Images/fortnitelogo.png');
    transition: all 1s;
    -webkit-transition: all 1s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  } 
  
  .pubg:hover {
    box-shadow:0 0 25px rgb(252, 252, 252);
    background-image: url('Images/pubglogo.png');
    transition: all 1s;
    -webkit-transition: all 1s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  } 
  
  .crossfire:hover {
    box-shadow:0 0 25px rgb(252, 252, 252);
    background-image: url('Images/crossfirelogo.png');
    transition: all 1s;
    -webkit-transition: all 1s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  } 
  
  .steamgames:hover {
    box-shadow:0 0 25px rgb(252, 252, 252);
    background-image: url('Images/steamgameshover.png');
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 500;
  } 

  .tibia:hover {
    box-shadow:0 0 25px rgb(252, 252, 252);
    background-image: url('Images/tibiahover.png');
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 500;
  } 

  .netflix:hover {
    box-shadow:0 0 25px rgb(252, 252, 252);
    background-image: url('Images/netflixhover.png');
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 500;
  } 
@media screen and (max-width: 999px) {

  .Games {
    border-radius: 1.95rem;
    transition: background-size 0.6s ease;
    background-size: 100%;
    cursor: pointer;
    background-image: url('Images/gameslogomb.png');
    width: 300px;
    height: 93px;
    overflow:hidden;
    margin: 0 auto;
  }

  .Tshirts {
    border-radius: 1.95rem;
    transition: background-size 0.6s ease;
    background-size: 100%;
    cursor: pointer;
    background-image: url('Images/tshirtsmb.png');
    width: 299px;
    height: 93px;
    overflow:hidden;
    margin: 0 auto;
  }

  .leagueLogo{
    width: 350px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/LeagueLogo.png');
  }

  .paymentBody {
    background-color: #0000008c;
    width: 350px;
    height: 500px;
    color: #fafafa;
    border-radius: 1.95rem;
    margin: auto;
    font-family: 'impact';
    -webkit-transform: translate(0%, 15%);
    display: block;
    }  

.fortniteLogo{
    width: 350px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/fortlogo.png');
}

.crossfireLogo{
    width: 350px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/crossfirelogopayment.png');
}

.pubgLogo{
    width: 350px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/pubgLogo2.png');
}


.GameDesc  {
  -webkit-transform: translate(-5%, 10%);
  text-align: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 1.95rem;
  width: 350px;
  height: 250px;
}

  .steamLogo{
    width: 350px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/steamgameslogo.png');
  }
 
  .tibiaLogo{
    width: 350px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Images/tibialogo.png');
  }

  .pubg {
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-image: url('Images/pubg.jpg');
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 1.85rem;
    width: 300px;
    height: 138px;
    margin-top: 10px;
  }
  
  .fortnite {
    border-radius: 1.95rem;
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-image: url('Images/fortnite.jpg');
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    width: 300px;
    height: 138px;
    margin-top: 10px;
  }
  
  .tibia{
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 1.95rem;
    width: 300px;
    height: 138px;
    margin: 0 auto;
    background-image: url('Images/tibiaoffers.png');
    margin-top: 10px;
  }
  .steamgames{
    transition: background-size 0.6s ease;
    background-size: 100%;
    cursor: pointer;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 1.95rem;
    width: 300px;
    height: 138px;
    background-image: url('Images/steamgames.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
  }
  
  .crossfire {
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-image: url('Images/crossfire.jpg');
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 1.95rem;
    width: 300px;
    height: 138px;
    margin-top: 10px;
  }
  
  .league {
    margin-top: 10px;
    border-radius: 1.95rem;
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-image: url('Images/leagueoffers.png');
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    width: 300px;
    height: 138px;
    background-repeat: no-repeat;
  }
  .netflix{
    margin-top: 10px;
    transition: background-size 0.6s ease;
    cursor: pointer;
    background-color: rgb(253, 0, 0); /* Fallback color */
    background-color: rgba(255, 0, 0, 0.192); /* Black w/opacity/see-through */
    border-radius: 1.95rem;
    width: 300px;
    height: 138px;
    background-repeat: no-repeat;
    background-image: url('Images/netflixlogo.png');
    background-position: center;
  }
}
