@import "../node_modules/react-alice-carousel/lib/alice-carousel.css";

button .icon { display: none; }
button:hover .icon { display: inline; }
button:hover .text { display: none; }

.recaptcha {
  -webkit-transform: scale(1.14);
     -moz-transform: scale(1.14);
      -ms-transform: scale(1.14);
       -o-transform: scale(1.14);
          transform: scale(1.14);
   -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
       -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
           transform-origin: 0 0;
}

.loginBox {
  /* Add shadows to create the "card" effect */
  text-align: center;
  border-radius: 1.85rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
  height: stretch;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
}

.marketInfoBox {
  background: #222222;
  color: white;
  overflow: hidden;
  padding: .54rem 1.25rem;
  height: 31%;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.marketCardTitle {
  line-height: normal;
  margin: 0;
}

.marketCardText {
  -webkit-flex: 66%;
  -ms-flex: 66%;
  flex: 66% 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: distribute;
  width: 100%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  min-height: 53px;
}

.navbar .navbar-collapse {
  text-align: center;
}

#gradi {
  font-family: Noto!important;
  background: -webkit-linear-gradient(left, rgb(31, 51, 175),#3F51B5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .navbar-right {
  display: block;
}

/* Adding CSS manually is only necessary in JSFiddle,
   where CSS can't be inserted into the <head> */
   .typed-cursor{
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    }

  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  }

.ProfileBG {
  border-radius: 1.95rem;
  color: rgb(182, 180, 180);
  padding: 1.25em 1.5em 3.5em;
  height: fit-content;
  overflow-x: hidden;
  background-size: cover;
  background-color: #161616;
}

.profileNavItem{
  text-align: center;
}

.ProfileBGW {
  border-bottom-right-radius: 1.95rem;
  border-bottom-left-radius: 1.95rem;
  margin: 15px 0;
  color: rgb(182, 180, 180);
  padding: 1.25em 1.5em 3.5em;
  height: fit-content;
  overflow-x: hidden;
  background-size: cover;
  background-color: rgb(255, 255, 255); 
  background-color: rgba(255, 255, 255, 1);
  /* background-color: rgb(131, 211, 248); 
  background-color: rgb(131, 211, 248, 0.8); */
}

.errorBG{
  border-radius: 1.95rem;
  margin: 15px 0;
  padding: 1.25em 1.5em 3.5em;
  height: fit-content;
  overflow-x: hidden;
  background-size: cover;
  background-color: rgb(131, 211, 248); 
  background-color: rgb(131, 211, 248, 0.8); 
}

.PrivacyBG2 {
  border-radius: 1.95rem;
  color: rgb(182, 180, 180);
  height: stretch;
  overflow-x: hidden;
  background-size: cover;
  background-color: #161616;
}

.GG-BG-INVERSE {
  background: url('Images/bginverse.png'); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.PrivacyBGWhite {
  font-family: "arial";
  padding: 1.25em 1.5em 3.5em;
  color: rgb(19, 18, 18);
  height: stretch;
  overflow-x: hidden;
  background-size: cover;
  background-color: #ffffff;
} 

.BlackBG {
  border-radius: 0.50rem;
  color: rgb(182, 180, 180);
  overflow-x: hidden;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
}

.WhiteBG {
  border-radius: 0.55rem;
  color: rgb(182, 180, 180);
  padding: 1.25em 1.5em 3.5em;
  height: fit-content;
  overflow-x: hidden;
  background-size: cover;
  background-color: rgb(255, 255, 255); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}

.blackBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #121212; 
  width: 100%
}

.cartBG {
  border-radius: 0.55rem;
  margin: 15px;
  height: fit-content;
  overflow-x: hidden;
  background-size: cover;
  background-color: rgb(255, 255, 255); 
  box-shadow: 0 2px 2px 0 #b6b6b6;
}

.cart-blackBG {
  border-radius: 0.55rem;
  margin: 15px;
  height: fit-content;
  overflow-x: hidden;
  background-size: cover;
  background-color: rgb(75, 73, 73); 
  box-shadow: 0 2px 2px 0 #615e5e;
}

.textBackgroundEng {
  margin: 10px;
  padding: 5px;
  border-radius: 0.55rem;
  overflow-x: hidden;
  background-size: cover;
  background-color: rgba(48, 48, 48, 0.262);
  border-left: 10px solid #3F51B5;
}

.textBackgroundAr {
  margin: 10px;
  padding: 5px;
  border-radius: 0.55rem;
  overflow-x: hidden;
  background-size: cover;
  background-color: rgba(48, 48, 48, 0.262);
  border-right: 10px solid #3F51B5;
}

.g-recaptcha{
  transform:scale(1);
  -webkit-transform:scale(1.04);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}

.badge-light {
  border-radius: 1.95rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255); /* Fallback color */
}


.Signup {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 1.95rem;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 50%;
  height: 60%;
  transform: translate(-50%, -45%);
  text-align: right;
  overflow: hidden;
} 

.epic {
  background: radial-gradient(#c359ff,#4b2483);
  overflow: hidden;
}

.legendary {
  background: radial-gradient(#ea8d23,#78371d);
  overflow: hidden;
}

.rare {
  background: radial-gradient(#2cc1ff,#143977);
  overflow: hidden;
}

.uncommon {
  background: radial-gradient(#69bb1e,#175117);
  overflow: hidden;
}

.rarity-epic {
  background: radial-gradient(#c359ff,#4b2483);
  border: 3px solid #e95eff;
  overflow: hidden;
}

.rarity-legendary {
  background: radial-gradient(#ea8d23,#78371d);
  border: 3px solid #ea8d23;
  overflow: hidden;
}

.rarity-rare {
  background: radial-gradient(#2cc1ff,#143977);
  border: 3px solid #2cc1ff;
  overflow: hidden;
}

.rarity-uncommon {
  background: radial-gradient(#69bb1e,#175117);
  border: 3px solid #69bb1e;
  overflow: hidden;
}

.rarity-marvel {
  background: radial-gradient(#c53334,#761b1b);
  border: 3px solid #ef3537;
  overflow: hidden;
}

.splash-card {
  margin: 10px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.splash-cardTees {
  margin: 10px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.splash-card-product-view-constant {
  margin: 10px;
  max-width: 100%;
  max-height: 260px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.splash-card-product-view {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.userOrdersImages {
  max-height: 190px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.FortShop {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.cardItemPrev {
  padding: 1.25em 1.5em 4em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
}

.cardItemPrevSmall {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
}

.cardItemPrevSmall-active {
border: 3px solid #3F51B5;
background-color: #ffffff;
}

.card {
    border: 1px solid #313131;
    min-height: 400px;
    max-height: 400px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: rgba(44, 43, 43, 0.788);
    background-clip: border-box;
    border-radius: 0.30rem;
}

.fortniteCard {
  min-height: 300px;
  max-height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: rgba(48, 48, 48, 0.262);
  background-clip: border-box;
  border-radius: 0.50rem;
}

#itemdesc {
  background: rgba(0,0,0,.5);
  position: absolute;
  height: 25%;
  width: 100%;
  bottom: 0;
}

#marketDesc {
  -webkit-transform: translate(0%, 0%);
  background: rgb(48, 47, 47);
  position: absolute;
  height: 25%;
  width: 65%;
  bottom: 0;
}

#merchInfo {
  background: rgba(0, 0, 0, 0.712);
  position: absolute;
  height: 14%;
  width: 100%;
  bottom: 0;
}

.card-image-hover:hover {
  background: rgba(0, 0, 0, 0.712);
}

#merchiDesc {
  text-align: center;
  background: rgba(0, 0, 0, 0.712);
  position: absolute;
  height: 10%;
  width: 30%;
  right: 0;
  top: 0;
}

#merchDiscount {
  position: absolute;
  right: 0;
}

#merchPrice {
  text-align: center;
  position: absolute;
  height: 10%;
  width: 30%;
  left: 0;
  top: 0;
}


.overlayHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  cursor: pointer;
}

.fortniteCard button {
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  width: 50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  display: none;
}

.fortniteCard:hover button {
  display: block;
}

.overlayHover #ViewButton {
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  width: 50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  display: none;
}

.overlayHover:hover #ViewButton {
  display: block;
}

.overlayHover:hover {
  display: block;
  background: rgba(0, 0, 0, .7);
}

#marketHoverButton:hover + .button, .button:hover{ 
  display: inline-block;
}


#logodesc {
  height: 100%;
  width: 100%;
}


.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.25rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-title {
  margin: 0 auto;
}

.itemprice {
  font-family: luckiest guy,Lato,Roboto,Calibri,Arial;
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,.5)
}

.card-text:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.itemname {
  font-family: luckiest guy,Lato,Roboto,Calibri,Arial;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
  transform: scale(1,1.3);
  -webkit-transform: scale(1,1.3);
  -moz-transform: scale(1,1.3);
  -ms-transform: scale(1,1.3);
  -o-transform: scale(1,1.3);
}

.backbtn{
  padding: 0.15em 1.9em;
  font-size: 20px;
  font-weight: 700;
  line-height: 2;
  border-radius: 0.85rem;
  float: right;
}

.checkoutbtn{
  width: 150px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 0.85rem;
}

.badge, .badge2 {
  display: inline-block;
  padding: 0.15em 1.9em;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.85rem;
  font-size: 20px
}

.badge-dark {
  border-radius: 1.95rem;
  color: #fff;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
}

.badge-logo {
  padding: 7em;
  margin: 0 auto;
  background-image: url('Images/mainlogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}


.badge-logo-ar {
  padding: 7em;
  margin: 0 auto;
  background-image: url('Images/mainlogoar.svg');
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.badge-dark2 {
  border-radius: 1.95rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
}

.bg-image {
  background-image: url("Images/newbg.png");
  max-width: 100%;
  max-height: 100%; 
  height: stretch;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#login-dp{
    min-width: 350px;
    padding: 15px 5px 0;
    overflow:hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 1.5); /* Black w/opacity/see-through */
    color: rgb(252, 252, 252);
    font-weight: bold;
    border: 0.5px solid #f1f1f1;
    border-radius: 1.95rem;
}

