.activeNav{
  border-bottom: 3px solid #0686db;
}

.g-recaptcha{
  transform:scale(1);
  -webkit-transform:scale(1.04);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}

.badge-light {
  border-radius: 1.95rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255); /* Fallback color */
}

.footer {
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  height: 60px;
  background-color: #161616;
}

.SignUpBOX {
  border: 20px solid transparent;
  background-image: url('Images/newsbg.png');
  border-image-source: url('Images/borders.png');
  border-image-slice: 20;
  border-image-repeat: round;
  color: #fff;
  text-align: center;
  max-width: 700px;
  height: 400px;
  margin: 0 auto;
}

.signUpLogo{
  border: 20px solid transparent;
  background-image: url('Images/newsbg.png');
  border-image-source: url('Images/borders.png');
  border-image-slice: 20;
  border-image-repeat: round;
  width: 339px;
  height: 190px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('Images/signuplogo.png');
}

.ContactUs1{
  display: block;
  padding: 0.15em 1.9em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.85rem;
  margin: 0 auto;
}

.badge-dark3 {
  color: #fff;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  width: 1000px;
}

.alert-danger{
  border-bottom: 2.5px solid;
  border-color: #bb3737;
}

.alert-info{
  border-bottom: 2.5px solid;
  border-color: #5786ec;
}


.activeNav {
font-weight: bold;
border-bottom: 2.5px solid;
border-bottom-color: #0686db;
background-color: #00000081;
}

.adminInput {
  border: 0px solid #f1f1f1;
  width: 105%;
  height: 34px;
  padding: 5px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.adminBody:hover{
border-radius: 6px;
background-color: #0ddb06;
}

.adminBody {
  color: white;
}

.admin-bg {
  /* The image used */
  background-image: url('Images/adminboardbg2.png');

  /* Full height */
  height: stretch;
  overflow-x: hidden;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Full height */
}

#slidedesc {
  background: rgba(0,0,0,.5);
  position: absolute;
  height: 25%;
  width: 335px;
  bottom: 0;
}

.panelGames {
  background-image: url('Images/paneltest.png');
  background-repeat: no-repeat;
  height: 400px;
}

.panelFb {
  background-image: url('Images/fbpanel2.png');
  background-repeat: no-repeat;
  height: 400px;
}

.panelAds {
  background-image: url('Images/panelads.png');
  background-repeat: no-repeat;
  height: 400px;
}

.newsTitleBg{
  color: #fff;
  background-image: url('Images/Alert.png');
  height: 157px;
  width: 346px;
  margin: 0 auto;
}

.paraShit{
  text-align: center;
  position: relative;
  top: 80px;
  color: rgb(255, 255, 255);
}

.slideShit{
  position: relative;
  top: 215px;
  right: -46px;
}

.fbShit{
  position: relative;
  top: 215px;
  right: -66px;
}

.titleShit{
  right: -20px;
  position: relative;
  top: 82px;
  color: rgb(255, 255, 255);
}

.newstest {
  border: 1px solid #000000;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  border-radius: 1rem;
  display: block;
}

.newsContent {
  margin: 0 auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  display: block;
  max-width: 700px;
  border: 20px solid transparent;
  background-image: url('Images/newsbg.png');
  border-image-source: url('Images/borders.png');
  border-image-slice: 20;
  border-image-repeat: round;
}

.newsBody {
  margin-top: 90px;
}
.mainNews {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 1.95rem;
  top: 10%;
  left: 10%;
  font-size: 20px;
  overflow-x: hidden;
  display: inline-block;
}

.Signup {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 1.95rem;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 50%;
  height: 60%;
  transform: translate(-50%, -45%);
  text-align: right;
  overflow: hidden;
} 

.rarity-epic {
  background: radial-gradient(#c359ff,#4b2483);
  border: 3px solid #e95eff;
  overflow: hidden;
}

.rarity-legendary {
  background: radial-gradient(#ea8d23,#78371d);
  border: 3px solid #e98d4b;
  overflow: hidden;
}

.rarity-rare {
  background: radial-gradient(#2cc1ff,#143977);
  border: 3px solid #37d1ff;
  overflow: hidden;
}

.rarity-uncommon {
  background: radial-gradient(#69bb1e,#175117);
  border: 3px solid #87e339;
  overflow: hidden;
}

.splash-card {
  margin-bottom: 20px;
  -webkit-transform: translate(1%, 40%);
  border-radius: 0;
  height: 200px;
  width: 200px;
}

.splash-card2 {
  -webkit-transform: translate(1%, 20%);
  border-radius: 0;
  height: 400px;
  width: 440px;
}


.FortShop {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  }
  
.FortHover:hover {
  border: 5px solid #e5ff00;
}

    
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #303030;
    background-clip: border-box;
    border-radius: 0.25rem;
}

#itemdesc {
  background: rgba(0,0,0,.5);
  position: absolute;
  height: 25%;
  width: 100%;
  bottom: 0;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.itemprice {
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  margin-top: -12px;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
}

.itemname {
  font-family: luckiest guy,Lato,Roboto,Calibri,Arial;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
  transform: scale(1,1.3);
  -webkit-transform: scale(1,1.3);
  -moz-transform: scale(1,1.3);
  -ms-transform: scale(1,1.3);
  -o-transform: scale(1,1.3);
}

.backbtn{
  padding: 0.15em 1.9em;
  font-size: 20px;
  font-weight: 700;
  line-height: 2;
  border-radius: 0.85rem;
  float: right;
}

.checkoutbtn{
  width: 150px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 0.85rem;
}

.badge, .badge2 {
  display: inline-block;
  padding: 0.15em 1.9em;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.85rem;
  font-size: 20px
}

.badge-dark {
  border-radius: 1.95rem;
  color: #fff;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
}

.badge-dark2 {
  border-radius: 1.95rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
}

.VodaCashLogo{
  margin: 0 auto;
  width: 600px;
  height: 100px;
  border-radius: 1.85rem;
  border: 1px solid #e70505;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('Images/VodaCashLogo.png');
}

.EtisCashLogo{
  border-radius: 1.85rem;
  border: 1px solid #0ddb06;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  margin: 0 auto;
  width: 600px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('Images/EtisCashLogo.png');
}

.FawryLogo{
  border-radius: 1.85rem;
  border: 1px solid #fffb03;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  margin: 0 auto;
  width: 600px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('Images/fawrypaymenttest2.png');
}

.VodaCash:hover, .EtisCash:hover, .Fawry:hover {
  box-shadow:0 0 25px rgb(252, 252, 252);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 100;
  border: 1px solid #eca011;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
}

.EtisCash{
  border-radius: 1.85rem;
  border: 1px solid #28e40f;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-215%, 50%);
  z-index: 2;
  width: 15%;
  padding:100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('Images/Etiscash.png');
}

.VodaCash{
  border-radius: 1.85rem;
  border: 1px solid #e60303;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  z-index: 2;
  width: 15%;
  padding: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('Images/Vodacash.png');
}

.Fawry{
  border-radius: 1.85rem;
  border: 1px solid #fffb03;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(180%, 50%);
  z-index: 2;
  width: 15%;
  padding: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('Images/fawrypaymenttest.png');
}
.PaymentDesc  {
  border-radius: 1.95rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  -webkit-transform: translate(-37.5%, 250%);
  left: 40%;
  z-index: 2;
  width: 50%;
  padding: 15px;

}

.PaymentDesc3  {
  border-radius: 1.95rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  -webkit-transform: translate(65%, 20%);
  z-index: 2;
  text-align: right;


}

.PaymentDesc2  {
  border-radius: 1.95rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  -webkit-transform: translate(65%, 20%);
  z-index: 2;
  text-align: right;


}



/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(252, 252, 252);
  font-weight: bold;
  border-radius: 1.95rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 2;
  width: 30%;
  padding: 50px;
  text-align: center;
}

.Voda-title {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(252, 252, 252);
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
  padding: 10px;
  text-align: center;
}

.Voda-title2  {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(252, 252, 252);
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
  padding: 177px;
  text-align: right;
}

.Voda-text {
  white-space: nowrap;
  color: rgb(252, 252, 252);
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
}

.Voda-text3 p {
  white-space: nowrap;
  color: rgb(252, 252, 252);
  font-weight: bold;
  position: absolute;
  top: 39%;
  left: 76%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
}

.Voda-text2 p {
  white-space: nowrap;
  color: rgb(252, 252, 252);
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 76%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
}

.Voda-text p {
  white-space: nowrap;
  color: rgb(252, 252, 252);
  font-weight: bold;
  position: absolute;
  top: 120%;
  left: -35%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
}

.signup_recruiter {
  transform: translate(-35%, 50%);
  width: 400%;
  padding: 3px;
}

.Login {
  border: 0px solid #f1f1f1;
  margin: auto;
  display: block;
  width: 105%;
  height: 34px;
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bg-image {
  /* The image used */
  background-image: url("Images/newbg.png");

  /* Full height */
  height: stretch;
  overflow-x: hidden;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#login-dp{
    min-width: 350px;
    padding: 15px 5px 0;
    overflow:hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 1.5); /* Black w/opacity/see-through */
    color: rgb(252, 252, 252);
    font-weight: bold;
    border: 0.5px solid #f1f1f1;
    border-radius: 1.95rem;
}

