.svg-icon:before {
  content: "\00a0";
}

.svg-icon {
  background-size: 25px;
  background-position: 90%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 2em;
  line-height: 1.5em;
}

.svg-icon-thompson {
  background-image: url(./Images/svg/thompson-m1.svg);
}

.svg-icon-phone {
  background-image: url(./Images/svg/phone.svg);
}

.svg-icon-priceTag {
  background-image: url(./Images/svg/price-tag.svg);
}

.svg-icon-shoppingCart {
  background-image: url(./Images/svg/shopping-cart.svg);
}

.svg-icon-home {
  background-image: url(./Images/svg/house.svg);
}

.svg-icon-idCard {
  background-image: url(./Images/svg/id-card.svg);
}